html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto', helvetica neue, sans-serif;
    font-size: calc(14px + .2vw);
    line-height: calc(1.45rem + .2vw);
    color: #555;
}
body {
  background-color: #f7f7f7;
  font-family: helvetica neue;
}
#page-head {
  width: 720px;
}
#page-title {
  font-size: 24px;  
  font-weight: 400;
  margin-left: 24px;
}
#page-body {
  margin-top: 32px;
}
#users-ul {
  font-weight: 300;
  font-size: 16px;
}
.users-li {
  color: red;
  margin-bottom: 12px;
}
span.user-name-span {
  display: inline-block;
  width: 180px;
}
/*button {
  border-radius: 4px;
  background-color: #e7e7e7;
  color: #4d4d4d;
  font-size: 16px;
  box-shadow: 0px 1px 1px #777;
  border: none;
}
button:hover {
  color: #e7e7e7;
  background-color: #4d4d4d;
}*/
/*.user-del-button:active {
  box-shadow: 1px 1px 0 #777;
}*/
.user-del-button, #user-add-button {
  height: 32px;
  border-radius: 4px;
  background-color: #e7e7e7;
  color: #4d4d4d;
  font-size: 16px;
  border: none;
}
.user-del-button:hover, #user-add-button:hover {
  color: #e7e7e7;
  background-color: #4d4d4d;
}
.user-del-button {
  width: 50px;
}
#user-add-button {
  width: 100px;
  margin-left: 40px;
}